In [1]:
class Car:
    pass

In [3]:
AudiQ7=Car()

In [4]:
AudiQ7

In [6]:
AudiQ7.milage =10
AudiQ7.year= 2020
AudiQ7.make=345
AudiQ7.model='fsdf'

In [7]:
AudiQ7.milage

10

In [8]:
AudiQ7.year

2020

In [9]:
nano=Car()

In [10]:
nano.milage=20
nano.year=2021
nano.make=234
nano.model='shhf'
nano.engino=564632246

In [11]:
print(nano.milage,AudiQ7.model)

20 fsdf

In [41]:
class Car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model
        
    def age(a,current_year):
        return current_year-a.year
    def Milage1(self):
        print(self.milage)
    def __str__(c):
        return "this ismy car class i executed"

In [43]:
nano1.age(2022)

2

In [44]:
nano1.Milage1()

20

In [46]:
print(nano1)

this ismy car class i executed

In [26]:
nano1=Car()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [42]:
nano1=Car(20,2020,3344,'fdlghkhb')

In [16]:
audiQ7=Car(21,2021,453833,'apjgjjb')

In [17]:
nano1.milage

20

In [18]:
nano1.make

3344

In [70]:
class Student:
    def __init__(self,name,rollno,joindate,current_topic):
        self.name=name
        self.rollno=rollno
        self.joindate=joindate
        self.current_topic=current_topic
    def crttopic(self):
        print('Current Tpopic in my class is ',self.current_topic)
    def str_rollno(self):
        if type(self.rollno)==str:
            print("do Nothing")
        else:
            return str(self.rollno)
    def name_Parsing(self):
        if type(self.name)==list:
            for i in self.name:
                print('The name is',i)
        else:
            print('Name is not in the List')
        
    def duration(self,current_date):
        print('The Duration of student in my class is',current_date-self.joindate)
    def __str__(self):
        print("This is student class where they can try to input and fetch the data")

In [71]:
rag= Student('Raghvendra',436463,2021,'OOPS')

In [72]:
rag.duration(2022)

The Duration of student in my class is 1

In [73]:
rag.str_rollno()

'436463'

In [74]:
rag

In [76]:
ch=Student(['Anand','Bob','Chetan','Dolly','Jony'],[1,2,3,4,5],2021,'hfegbefhkvkf')

In [77]:
ch.name_Parsing()

The name is Anand
The name is Bob
The name is Chetan
The name is Dolly
The name is Jony

In [1]:
class Data:
    def __init__(self,filename,filetype,date,size):
        self.filename=filename
        self.filetype=filetype
        self.date=date
        self.size=size
    def file_Open(self):
        f=open(self.filename,'w+')
        f.write('This is first Line')
        f.close()
    def file_read(self):
        try:
            f=open(self.filename,'r')
            print(f.read())
            f.close()
        except Exception as e:
            print('Error Type Is :',e)
    def File_Append(self):
            f=open(self.filename,'a')
            f.write('This is the Second Line')
            f.close()
file1=Data('File1','txt','2021--11','2MB')
file1.file_Open()
file1.file_read()
file1.File_Append()

This is first Line

In [7]:
#Level 
import logging as lg
lg.basicConfig(filename='OOPS.log')
class Data:
    def __init__(self,fileName,fileType,data,size):
        self.fileName=fileName
        self.fileType=fileType
        self.data=data
        self.size=size
        
    def File_Open(self):
        try:
            with open(self.fileName+self.fileType,'w') as f:
                f.write(self.data)
        except Exception as e:
            self.logging(e)
    def File_Read(self):
        try:
            with open(self.fileName+self.fileType,'r') as f:
                f.read()
        except Exception as e:
            self.logging(e)
    def File_Append(self,data):
        try:
            with open(self.fileName+self.fileType,'a') as f:
                f.write(data)
        except Exception as e:
            self.logging(e)
    def logging(self,log):
        lg.error(log)
d=Data('d','.txt','Hi',2)
d.File_Open()
d.File_Append('OOPS')