In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
l1=[123,'Ragh',True,'Abc123']
l1

[123, 'Ragh', True, 'Abc123']

In [2]:
t1=(123,'Ragh',True,'Abc123')

In [3]:
t1

(123, 'Ragh', True, 'Abc123')

In [6]:
t1[::-1]

('Abc123', True, 'Ragh', 123)

In [7]:
t1[-1]

'Abc123'

In [9]:
l1[2]='Yadav'

In [10]:
l1

[123, 'Ragh', 'Yadav', 'Abc123']

In [11]:
t1[2]='Yadav'

TypeError: 'tuple' object does not support item assignment

In [4]:
l2=list(t1)

##

In [5]:
l2

[123, 'Ragh', True, 'Abc123']

In [6]:
l2.insert(4,'Aniket Singh Thakur')

In [7]:
tuple(l2)

(123, 'Ragh', True, 'Abc123', 'Aniket Singh Thakur')

In [8]:
t=((3,4,5),(3,'Ragh',4,[4,5,'Ragh']))

In [14]:
t[1][2:]

(4, [4, 5, 'Ragh'])

In [16]:
for i in t:
    if type(i)==tuple:
        for j in i:
            if type(j)==list:
                print(j)

[4, 5, 'Ragh']

In [17]:
t1

(123, 'Ragh', True, 'Abc123')

In [19]:
if len(t1)==len(t):
    print("True")
else:
    print("False")

False

In [20]:
len(t)

2

In [21]:
t1

(123, 'Ragh', True, 'Abc123')

In [22]:
del(t1)

In [23]:
t1

NameError: name 't1' is not defined

In [25]:
del(l2)

In [26]:
l2

NameError: name 'l2' is not defined

SET COLLECTION

In [27]:
x=set()

In [28]:
type(x)

set

In [29]:
l=[34,55,55,34,'Ragh','Ragh']

In [32]:
s=set(l)

In [33]:
s

{34, 55, 'Ragh'}

In [34]:
s

{34, 55, 'Ragh'}

In [35]:
for i in s:
    print(i)

34
Ragh
55

In [36]:
34 in s

True

In [37]:
s[0]

TypeError: 'set' object is not subscriptable

In  Set Indexing  doesnot work and it emove duplicate andin unordered manner

In [38]:
s1={11,2,45,23,65}

In [39]:
s1

{2, 11, 23, 45, 65}

 we cannot add nested list or tuple to Set

In [40]:
s1.add(4)

In [45]:
s1.remove(4)

In [46]:
s1

{2, 11, 23, 45, 65}

In [47]:
s1.clear()

In [48]:
s1

set()

 Dictionary

In [22]:
d={}

In [23]:
type(d)

dict

In [24]:
d={1,2}

In [25]:
type(d)

set

In [31]:
d1={'Name':'Raghvendra','age':23,'salary':22578} # Dict contain keyand Value pair
d1

{'Name': 'Raghvendra', 'age': 23, 'salary': 22578}

In [32]:
type(d1)

dict

In [1]:
d2={'Name':'Raghvendra','age':23,'salary':22578,"Name":"sfdasfd","key":False,34:2343}

In [2]:
d2

{'Name': 'sfdasfd', 'age': 23, 'salary': 22578, 'key': False, 34: 2343}

In [3]:
d3={'Name':'Raghvendra','age':23,'salary':22578,"Lat_Name":"Raghvendra","key":False,34:2343}

In [4]:
d3

{'Name': 'Raghvendra',
 'age': 23,
 'salary': 22578,
 'Lat_Name': 'Raghvendra',
 'key': False,
 34: 2343}

 Nested Dictionry Is allowed

In [16]:
d3={1:{'Name':'Raghvendra'},'age':23,'salary':22578,"Lat_Name":"Raghvendra","key":False,34:2343}

In [13]:
l=[1,2,3,4,65]
l[3]

4

In [14]:
d3['age']

23

In [17]:
d3[1]['Name']

'Raghvendra'

In [18]:
e={6:{6,4,5}}

In [19]:
l=list(e)

In [20]:
l

[6]

In [26]:
s=input()

 ht  tps://www.goog    l e.com/search?q=wi     kpedia&rlz=1C1ONGR_e  nIN979IN97  9&oq=wikpedia&a    qs  = chrome.. 69i57. 6806j0j7 &  sourceid= chrome& ie= UTF -8

In [27]:
s

' ht  tps://www.goog    l e.com/search?q=wi     kpedia&rlz=1C1ONGR_e  nIN979IN97  9&oq=wikpedia&a    qs  = chrome.. 69i57. 6806j0j7 &  sourceid= chrome& ie= UTF -8'

In [28]:
l=s.split()

In [29]:
l

['ht',
 'tps://www.goog',
 'l',
 'e.com/search?q=wi',
 'kpedia&rlz=1C1ONGR_e',
 'nIN979IN97',
 '9&oq=wikpedia&a',
 'qs',
 '=',
 'chrome..',
 '69i57.',
 '6806j0j7',
 '&',
 'sourceid=',
 'chrome&',
 'ie=',
 'UTF',
 '-8']

In [30]:
s=input()

Ram (given name) Ram (surname) Ram (director) (Ramsubramaniam), an Indian Tamil film director RAM (musician) (born 1974), Dutch Raja Ram (musician) (Ronald Rothfield), Australian Ram Dass (Richard Alpert), US spiritual teacher and author Kavitark Ram Shriram (born 1950s), Google founding board member Ram Herrera, a Tejano musician Religion Rama, incarnation of the god Vishnu in Hinduism Places Ram, Serbia, Veliko Gradište Lake Ram, Golan Heights, Syria Ram Island (disambiguation), several islands with the name Ram Fortress, Serbia Ram Range, a mountain range in the Canadian Rockies Ram River in Alberta, Canada

In [31]:
s

'Ram (given name) Ram (surname) Ram (director) (Ramsubramaniam), an Indian Tamil film director RAM (musician) (born 1974), Dutch Raja Ram (musician) (Ronald Rothfield), Australian Ram Dass (Richard Alpert), US spiritual teacher and author Kavitark Ram Shriram (born 1950s), Google founding board member Ram Herrera, a Tejano musician Religion Rama, incarnation of the god Vishnu in Hinduism Places Ram, Serbia, Veliko Gradište Lake Ram, Golan Heights, Syria Ram Island (disambiguation), several islands with the name Ram Fortress, Serbia Ram Range, a mountain range in the Canadian Rockies Ram River in Alberta, Canada'

In [32]:
l=s.split()

In [33]:
l

['Ram',
 '(given',
 'name)',
 'Ram',
 '(surname)',
 'Ram',
 '(director)',
 '(Ramsubramaniam),',
 'an',
 'Indian',
 'Tamil',
 'film',
 'director',
 'RAM',
 '(musician)',
 '(born',
 '1974),',
 'Dutch',
 'Raja',
 'Ram',
 '(musician)',
 '(Ronald',
 'Rothfield),',
 'Australian',
 'Ram',
 'Dass',
 '(Richard',
 'Alpert),',
 'US',
 'spiritual',
 'teacher',
 'and',
 'author',
 'Kavitark',
 'Ram',
 'Shriram',
 '(born',
 '1950s),',
 'Google',
 'founding',
 'board',
 'member',
 'Ram',
 'Herrera,',
 'a',
 'Tejano',
 'musician',
 'Religion',
 'Rama,',
 'incarnation',
 'of',
 'the',
 'god',
 'Vishnu',
 'in',
 'Hinduism',
 'Places',
 'Ram,',
 'Serbia,',
 'Veliko',
 'Gradište',
 'Lake',
 'Ram,',
 'Golan',
 'Heights,',
 'Syria',
 'Ram',
 'Island',
 '(disambiguation),',
 'several',
 'islands',
 'with',
 'the',
 'name',
 'Ram',
 'Fortress,',
 'Serbia',
 'Ram',
 'Range,',
 'a',
 'mountain',
 'range',
 'in',
 'the',
 'Canadian',
 'Rockies',
 'Ram',
 'River',
 'in',
 'Alberta,',
 'Canada']

In [34]:
st=set(l)

In [35]:
st

{'(Ramsubramaniam),',
 '(Richard',
 '(Ronald',
 '(born',
 '(director)',
 '(disambiguation),',
 '(given',
 '(musician)',
 '(surname)',
 '1950s),',
 '1974),',
 'Alberta,',
 'Alpert),',
 'Australian',
 'Canada',
 'Canadian',
 'Dass',
 'Dutch',
 'Fortress,',
 'Golan',
 'Google',
 'Gradište',
 'Heights,',
 'Herrera,',
 'Hinduism',
 'Indian',
 'Island',
 'Kavitark',
 'Lake',
 'Places',
 'RAM',
 'Raja',
 'Ram',
 'Ram,',
 'Rama,',
 'Range,',
 'Religion',
 'River',
 'Rockies',
 'Rothfield),',
 'Serbia',
 'Serbia,',
 'Shriram',
 'Syria',
 'Tamil',
 'Tejano',
 'US',
 'Veliko',
 'Vishnu',
 'a',
 'an',
 'and',
 'author',
 'board',
 'director',
 'film',
 'founding',
 'god',
 'in',
 'incarnation',
 'islands',
 'member',
 'mountain',
 'musician',
 'name',
 'name)',
 'of',
 'range',
 'several',
 'spiritual',
 'teacher',
 'the',
 'with'}

In [37]:
dic={}

In [38]:
for i in st:
    dic[i]='Ragh'

In [39]:
dic

{'1974),': 'Ragh',
 '(given': 'Ragh',
 'RAM': 'Ragh',
 'Vishnu': 'Ragh',
 'name)': 'Ragh',
 '(Richard': 'Ragh',
 'Raja': 'Ragh',
 'author': 'Ragh',
 'Ram,': 'Ragh',
 '(musician)': 'Ragh',
 'founding': 'Ragh',
 'board': 'Ragh',
 'Canadian': 'Ragh',
 'US': 'Ragh',
 'islands': 'Ragh',
 'spiritual': 'Ragh',
 'an': 'Ragh',
 'Dass': 'Ragh',
 'and': 'Ragh',
 'Herrera,': 'Ragh',
 'god': 'Ragh',
 'several': 'Ragh',
 'Serbia': 'Ragh',
 'Serbia,': 'Ragh',
 'Heights,': 'Ragh',
 'Shriram': 'Ragh',
 'name': 'Ragh',
 'Rockies': 'Ragh',
 'Australian': 'Ragh',
 'Places': 'Ragh',
 'musician': 'Ragh',
 'Range,': 'Ragh',
 'Hinduism': 'Ragh',
 'Syria': 'Ragh',
 'with': 'Ragh',
 'Lake': 'Ragh',
 'director': 'Ragh',
 'Tamil': 'Ragh',
 'Tejano': 'Ragh',
 'Golan': 'Ragh',
 'Gradište': 'Ragh',
 'a': 'Ragh',
 'Ram': 'Ragh',
 'the': 'Ragh',
 'mountain': 'Ragh',
 'range': 'Ragh',
 'Canada': 'Ragh',
 'Alpert),': 'Ragh',
 'in': 'Ragh',
 '(Ronald': 'Ragh',
 '(Ramsubramaniam),': 'Ragh',
 'incarnation': 'Ragh',
 'Indian': 'Ragh',
 '(surname)': 'Ragh',
 'Google': 'Ragh',
 '(director)': 'Ragh',
 'teacher': 'Ragh',
 '1950s),': 'Ragh',
 'Island': 'Ragh',
 'River': 'Ragh',
 'Rothfield),': 'Ragh',
 'Kavitark': 'Ragh',
 'Veliko': 'Ragh',
 'Religion': 'Ragh',
 'member': 'Ragh',
 'Alberta,': 'Ragh',
 '(disambiguation),': 'Ragh',
 'Rama,': 'Ragh',
 'Fortress,': 'Ragh',
 'film': 'Ragh',
 '(born': 'Ragh',
 'Dutch': 'Ragh',
 'of': 'Ragh'}

In [41]:
t=[]
for i in dic.keys():
        t.append(dic[i])

In [42]:
t

['Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh']

In [43]:
lk=[]
for i in dic.keys():
    lk.append(i)

In [44]:
lk

['1974),',
 '(given',
 'RAM',
 'Vishnu',
 'name)',
 '(Richard',
 'Raja',
 'author',
 'Ram,',
 '(musician)',
 'founding',
 'board',
 'Canadian',
 'US',
 'islands',
 'spiritual',
 'an',
 'Dass',
 'and',
 'Herrera,',
 'god',
 'several',
 'Serbia',
 'Serbia,',
 'Heights,',
 'Shriram',
 'name',
 'Rockies',
 'Australian',
 'Places',
 'musician',
 'Range,',
 'Hinduism',
 'Syria',
 'with',
 'Lake',
 'director',
 'Tamil',
 'Tejano',
 'Golan',
 'Gradište',
 'a',
 'Ram',
 'the',
 'mountain',
 'range',
 'Canada',
 'Alpert),',
 'in',
 '(Ronald',
 '(Ramsubramaniam),',
 'incarnation',
 'Indian',
 '(surname)',
 'Google',
 '(director)',
 'teacher',
 '1950s),',
 'Island',
 'River',
 'Rothfield),',
 'Kavitark',
 'Veliko',
 'Religion',
 'member',
 'Alberta,',
 '(disambiguation),',
 'Rama,',
 'Fortress,',
 'film',
 '(born',
 'Dutch',
 'of']

In [49]:
li=[]
for i in dic.values():
    li.append(i)

In [50]:
ti=tuple(li)

In [51]:
ti

('Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh',
 'Ragh')

In [52]:
d={"comp":"ineuron","cuourse":"db","year":2021}

In [58]:
l=list(d.values())

In [56]:
l

['ineuron', 'db', 2021]