In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\anaconda\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from mysql-connector-python) (3.19.4)

In [26]:
import mysql.connector as connection

In [27]:
conn=connection.connect(host='localhost',user='root',password='0000')

In [28]:
conn

In [29]:
cursor=conn.cursor()

In [36]:
cursor.execute('show databases')

In [37]:
reponse=cursor.fetchall()

In [45]:
reponse

[('classicmodels',),
 ('customer',),
 ('information_schema',),
 ('mysql',),
 ('mysql_python',),
 ('performance_schema',),
 ('sales',),
 ('sql_join',),
 ('sys',),
 ('triggers',)]

In [50]:
L=[]
for i in reponse:
    L.append(i[0])
print(L)

['classicmodels', 'customer', 'information_schema', 'mysql', 'mysql_python', 'performance_schema', 'sales', 'sql_join', 'sys', 'triggers']

In [54]:
import mysql.connector as connection
try:
    conn=connection.connect(host='localhost',user='root',password='0000')
    cursor=conn.cursor()
    query='show databases'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    conn.close()
    print(str(e))

[('classicmodels',), ('customer',), ('information_schema',), ('mysql',), ('mysql_python',), ('performance_schema',), ('sales',), ('sql_join',), ('sys',), ('triggers',)]

In [68]:
import mysql.connector as connection
try:
    con=connection.connect(host='localhost',user='root',password='0000')
    cursor=con.cursor()
    query='create Database Student1;'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    con.close()
    print(str(e))

[]

In [56]:
import mysql.connector as connection
try:
    conn=connection.connect(host='localhost',user='root',password='0000')
    cursor=conn.cursor()
    query='show databases'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    conn.close()
    print(str(e))

[('classicmodels',), ('customer',), ('information_schema',), ('mysql',), ('mysql_python',), ('performance_schema',), ('sales',), ('sql_join',), ('student',), ('sys',), ('triggers',)]

In [57]:
try:
    con=connection.connect(host='localhost',user='root',password='0000')
    cursor=con.cursor()
    query='drop Database Student;'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    con.close()
    print(str(e))

[]

In [59]:
try:
    con=connection.connect(host='localhost',user='root',password='0000')
    cursor=con.cursor()
    query='show databases;'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    con.close()
    print(str(e))

[('classicmodels',), ('customer',), ('information_schema',), ('mysql',), ('mysql_python',), ('performance_schema',), ('sales',), ('sql_join',), ('sys',), ('triggers',)]

In [65]:
import mysql.connector as connection
try:
    con=connection.connect(host='localhost',database='Student',user='root',password='0000')
    print(con.is_connected())
    cursor=con.cursor()
    
    query='create table StudentDetails (StudentId int(10) auto_increment primary key,FirstName  varchar(40),LastName varchar(40),RegistrationDate date,Class  varchar(20),Section varchar(10));'
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    con.close()
    print(str(e))

True
[]

In [77]:
con=connection.connect(host='localhost',database='Student1',user='root',password='0000')

In [78]:
con.is_connected()

True

In [79]:
cursor=con.cursor()
cursor.execute('create table test(x1 int(10),x2 varchar(20),x3 date)')
con.close()

ProgrammingError: 1050 (42S01): Table 'test' already exists

In [80]:
con.close()

In [94]:
import mysql.connector as connection
try:
    con=connection.connect(host='localhost',database='Student1',user='root',password='0000')
    print(con.is_connected())
    query='insert into test values(1,"Anand","1998-11-11");'
    
    cur=con.cursor()
    cur.execute(query)
    print(cur.fetchall())
except Exception as e:
    con.close()
    print(str(e))

True
[]

In [95]:
con=connection.connect(host='localhost',database='Student1',user='root',password='0000')

In [96]:
cur=con.cursor()

In [97]:
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')
cur.execute('insert into test values(2,"bnand","1998-11-11");')

In [98]:
con.commit()

In [5]:
import mysql.connector as connection
try:
    con=connection.connect(host='localhost',database='Student1',user='root',password='0000')
    print(con.is_connected())
    query='select * from test;'
    
    cur=con.cursor()
    cur.execute(query)
    for result in cur.fetchall():
        print(result)
except Exception as e:
    con.close()
    print(str(e))

True
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))
(2, 'bnand', datetime.date(1998, 11, 11))

In [7]:
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute 'core' (most likely due to a circular import)

In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\anaconda\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\anaconda\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

In [3]:
import mysql.connector as connection
con=connection.connect(host='localhost',database='Student1',user='root',password='0000')

In [5]:
con

In [6]:
pd.read_sql('select  * from test',con)

    x1     x2          x3
0    2  bnand  1998-11-11
1    2  bnand  1998-11-11
2    2  bnand  1998-11-11
3    2  bnand  1998-11-11
4    2  bnand  1998-11-11
5    2  bnand  1998-11-11
6    2  bnand  1998-11-11
7    2  bnand  1998-11-11
8    2  bnand  1998-11-11
9    2  bnand  1998-11-11
10   2  bnand  1998-11-11
11   2  bnand  1998-11-11
12   2  bnand  1998-11-11

In [7]:
 pd.read_sql('select  x1,x2 from test',con)

    x1     x2
0    2  bnand
1    2  bnand
2    2  bnand
3    2  bnand
4    2  bnand
5    2  bnand
6    2  bnand
7    2  bnand
8    2  bnand
9    2  bnand
10   2  bnand
11   2  bnand
12   2  bnand

In [8]:
type( pd.read_sql('select  x1,x2 from test',con))

pandas.core.frame.DataFrame

In [19]:
a= pd.read_sql('select * from test',con)

In [20]:
a.to_csv('mydata.csv')

In [21]:
con

In [22]:
cursor=con.cursor()

In [24]:
cursor.execute('create table mydata1(n1 int(10),n2 varchar(20),n3 date)')

In [29]:
data=pd.read_csv('mydata.csv')

In [30]:
data

     0  2  bnand  11-11-1998
0    1  2  bnand  11-11-1998
1    2  2  bnand  11-11-1998
2    3  2  bnand  11-11-1998
3    4  2  bnand  11-11-1998
4    5  2  bnand  11-11-1998
5    6  2  bnand  11-11-1998
6    7  2  bnand  11-11-1998
7    8  2  bnand  11-11-1998
8    9  2  bnand  11-11-1998
9   10  2  bnand  11-11-1998
10  11  2  bnand  11-11-1998
11  12  2  bnand  11-11-1998

In [31]:
data.to_sql('mydata1',con)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [1]:
import mysql.connector as connection
import pandas as pd
import csv
con=connection.connect(host='localhost',database='Student1',user='root',password='0000',use_pure=True)

In [2]:
cur=con.cursor()
cur.execute("create Table glass (Index_Number int(10),RI float(10,5),Na  float(10,5),Mg  float(10,5),Al  float(10,5),Si  float(10,5),K  float(10,5),Ca  float(10,5),Ba  float(10,5),Fe  float(10,5),Class int(10));")

ProgrammingError: 1050 (42S01): Table 'glass' already exists

In [52]:
! ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [53]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [54]:
pwd()

'C:\\Users\\dell\\OneNeuron'

In [55]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7EAB-9F48

 Directory of C:\Users\dell\OneNeuron

27-05-2022  21:27    <DIR>          .
27-05-2022  21:27    <DIR>          ..
27-05-2022  20:14    <DIR>          .ipynb_checkpoints
03-04-2022  16:54    <DIR>          __pycache__
25-05-2022  14:28             7,789 Abstraction and Inheritance.ipynb
25-03-2022  01:04                29 addition.py
19-05-2022  20:05            12,106 Classes&Objects.ipynb
19-05-2022  20:03                 6 d.txt
19-05-2022  18:00                41 File1
25-01-2022  02:06            12,631 Function.ipynb
02-03-2022  01:14            10,120 Function1.ipynb
14-03-2022  18:23         5,438,557 Function2.ipynb
21-01-2020  19:09            11,941 glass.data
17-03-2022  00:59    <DIR>          logging
20-03-2022  01:29             8,063 Logging Debugging.ipynb
04-04-2022  08:56             9,737 Modules.ipynb
27-05-2022  20:27               289 mydata.csv
19-05-2022  20:03                 0 OOPS.log
25-03-2022  00:52                58 test.py
03-04-2022  16:53               189 test6.py
20-01-2022  01:33            37,875 TupleSet.ipynb
27-05-2022  21:23            46,930 Working with SQL & Pythn.ipynb
              17 File(s)      5,596,361 bytes
               5 Dir(s)  154,056,966,144 bytes free

In [1]:
import csv

data=open('glass.data','r')
next(data)
data_csv=csv.reader(data,delimiter='\n')
print(data_csv)
for i in enumerate(data_csv):
    for j in i[1]:
        cur.execute('insert into glass values({data})'.format(data=(j)))
print('All Data Inserted')
con.commit()

NameError: name 'csv' is not defined

In [ ]:
data=pd.read_csv()